.container{
    height: 100%;
    padding: 25px;
    display: flex;
    margin-bottom: 260px;
    background-color: black;
}

.item{
    flex: 1
}

.table{
    width: 100%;
    border-spacing: 20px;
    text-align-last: left;
    
}

.title{
    color: yellow;
}

.trTitle{
    color: yellow;
}

.button{
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.button:first-child{
    background-color: teal;
    margin-right: 10px;
}

.button:last-child{
    background-color: crimson;
    margin-left: 10px;
}