.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81vh;
}

.contactImageBox {
    display: flex;
    justify-content: left;
    align-items: left;
}

@media (max-width: 480px) {
    .contactImageBox {
      width: 50%;
    }
  }

