.Container {
    background-color: yellow;
    height: 100px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 1;
}

.item:nth-child(3){
    justify-content: flex-end;
}

.callButton{
    background-color: rgb(117, 129, 3);
    border-radius: 50px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.texts{
    margin-left: 20px;
    color: black;
}

.text:first-child{
    font-size: 12px;
    font-weight: 700;
}

.text:last-child{
    justify-content: right;
    font-size: 15px;
    font-weight: bold;
}

.name{
    font-weight: bold;
    font-style: italic;
}

.disclaimer{
    font-size: 10px;
    font-weight: bold;
    display: flex;
    margin-top: 5px;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.listItem{
    margin: 20px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
}

.admin{
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    padding-bottom: 5px;
}

.signUp{
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.login{
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 25px;
    cursor: pointer;
}

.cart{
    position: relative;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: white;
    border-radius: 50%;
    font-weight: bold;
    height: 20px;
    width: 20px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #fbff00;
    color: #000000;
    font-weight: 500;
}

@media screen and (max-width: 480px) {
    .item:nth-child(2){
        display: none;
    }

    .item:nth-child(1){
        flex: 3;
    }
}